@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app-container {
  @apply w-full max-w-4xl mx-auto p-3 md:p-4
}

.app-title {
  @apply text-2xl capitalize leading-7 mb-2 relative;

  &:after {
    content: '';
    @apply block w-10 h-[2px] absolute -left-2 top-[1px] bg-gray-300 -z-10;
  }
}

.app-section {
  @apply mb-3 p-3 md:p-4 rounded shadow shadow-gray-200
}